<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="<%=codebase%>">
    <information>
        <title>Download Client</title>
        <vendor>DLT</vendor>
	<homepage href="http://www.data-logistics.org"/>
	<description>Data Logistics Toolkit - Download Client</description>
	<icon kind="splash" href="http://dlt.incntre.iu.edu/webstart/html/DLTlogoRed.png"/>
	<icon href="http://dlt.incntre.iu.edu/webstart/html/DLTlogo.png"/>
        <offline-allowed/>
    </information>
    <security>
      <all-permissions/>
    </security>
    <resources>
        <!-- Application Resources -->
        <j2se version="1.6+" max-heap-size="1024m" href="http://java.sun.com/products/autodl/j2se"/>
        <property name="client_title" value="Data Logistics Toolkit"/>
        <property name="exnode_namespace" value="http://loci.cs.utk.edu/exnode"/>
        <property name="exnode_version" value="3.0"/>
        <property name="exnode_watchdog_cycletime" value="3000"/>
        <property name="read_timeout" value="20"/>
        <property name="read_retries" value="3"/>
        <property name="read_retry_cycletime" value="60000"/>
        <property name="file_write_retries" value="3"/>
        <jar href="<%=jarname%>" main="true"/>
    </resources>
    <application-desc
         name="Download Client"
         main-class="edu.crest.dlt.ui.main.UploadDownloadFrame">
        <%for (var i=0; i< args.length; i++) { %>
            <argument><%= args[i]+ "?sid="+ sessionID %></argument>
        <% } %>  
     </application-desc>
        
</jnlp>
