<h2 class="lead text-center">EODN/IDMS Exnode Browser</h2>
<div class="table-responsive" style="max-width: 1024px; margin-left: auto; margin-right: auto";>
    <div>
        <tabset>
            <tab heading="Exnode Browser" ng-controller="ExnodeController">
                <div class="row top5">
                    <div class="col-md-5 tree-browser">
                        <!-- <js-tree tree-events="select_node:nodeSelected" tree-data="json" tree-src="/views/filetree.json"  tree-plugins="checkbox"></js-tree> -->
                        <js-tree tree-events="after_open:clearState;check_node:nodeSelected;uncheck_node:nodeUnselected;uncheck_all:uncheckAll;check_all:checkAll"   
                                 tree-checkbox="{ tie_selection : false , three_state: false}"
                                 tree-plugins="checkbox"
                                 tree-ajax="/api/fileTree"></js-tree>
                    </div>
                    <div class="col-md-7 file-viewer">
                        <div>
                          <table class="table-striped table exnodeFileList">
                            <thead>
                              <tr>
                                <th> Name </th>
                                <th> Size (MB) </th>
                                <th> Select <input type="checkbox" ng-click="selectToggle()" "value="false"/></th>
                                <th> </th>
                                <th> </th>
                              </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key,val) in selectedIds">
                                        <td>{{val.name || val.text}}</td>
                                        <td>{{(val.size/(1024*1024)).toFixed(1)}}</td> 
                                        <td><input type="checkbox" value="{{val.selfRef}}"/></td>
                                        <td><button ng-click="downloadOne(val.selfRef)" class="btn btn-info">Download</button></td>
                                        <td><button ng-click="showExnodeMap(val.selfRef)" class="btn btn-info">Map</button></td>
                                    </tr>                                       
                                </tbody>
                          </table>
                          
                            <button ng-click="downloadAll()" class="btn btn-info">Download Selected</button>                            
                        </div>
                        <!-- <pre>
                 <code>{{fileViewer}}</code>
                 </pre> -->
                        <!-- <span ng-if='showDownload'>
                 <button ng-click="downloadFile()" class="btn btn-info">Download</button>
                 </span> -->
                    </div>
                </div>
            </tab>
            <tab heading="Exnode Search"  ng-controller="DltFormController">
                <form class="form-horizontal top5" id="searchForm" ng-submit="searchExnodes()">
                    <div class="form-group"  ng-repeat="field in fieldArr">
                        <div class="col-sm-1">
                            <center>
                                <button ng-click="removeField(field.id)"
                                        type="button" class="btn btn-default">X</button>
                            </center>
                        </div>
                        <div class="col-sm-5">
                            <div ng-if="field.isCustom">
                                <input type="text"  class="form-control custom" />
                            </div>
                            <select class="form-control searchField" ng-model="selected" ng-if="!field.isCustom">
                                <option ng-repeat="fld in exFields" ng-value="field.name=fld.name"
                                        value="fld.name">
                                    {{fld.name}}
                                </option>                              
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="searchValue"
                                   ng-value="field.value"
                                   placeholder="Enter a search query">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <button ng-click="addField()"
                                    type="button" class="btn btn-default">Add Field</button>
                            <button ng-click="addCustomField()"
                                    type="button" class="btn btn-default">Add Custom Field</button>
                            <button type="submit" class="btn btn-default">Search</button>
                        </div>
                    </div>
                </form>
                <div class="row top10" ng-if="isExLoading">
                    <div class="col-xs-5" style=" padding: 10px; height: 300px;background-color: rgba(200,200,200,0.3);">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 tree-browser">
                        <div>
                            <js-tree tree-data="scope" 
                                     tree-checkbox="{ tie_selection : false}"
                                     tree-plugins="checkbox"
                                     tree-events="check_node:exsearchNodeSelected;uncheck_node:exsearchNodeUnselected"
                                     tree-model="exSearchResAsArr"></js-tree>
                        </div>
                        <div ng-if="!searchRes && isSearched">
                            No Results
                        </div>
                    </div>
                    <div class="col-md-7 file-viewer">
                        <div>
                            <table class="table-striped table exnodeFileList">
                                <thead>
                                    <tr>
                                        <th> Name </th>
                                        <th> Select </th>
                                        <th> Download</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key,val) in exsearchselectedIds">
                                        <td>{{val.text}}</td>
                                        <td><input type="checkbox" value="{{val.selfRef}}"/></td>
                                        <td><button type="button" ng-click="downloadOne(val.selfRef)" class="btn btn-info">Download</button></td>
                                    </tr>                                       
                                </tbody>
                            </table>                            
                            <button type="button" ng-click="downloadAll()" class="btn btn-info">Download Selected</button>                            
                        </div>
                    </div>
                </div>               
            </tab>     
            <tab heading="Landsat Search"  ng-controller="DltFormController">
                <form class="form-horizontal top5 usgsform" ng-submit="submitUsgsForm()">
                    <div class="row">
                        <div class="col-md-4">
                            <div> Sensor name </div>
                            <select class="form-control searchField" ng-model="usgsform.sensorName">
                                <option ng-repeat="(key, value) in sensorNames" ng-value="key"
                                        value="{{key}}">
                                    {{value}}
                                </option>                              
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div>Start date </div>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="usgsform.startDate" is-open="opened" 
                                       max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div> End date</div>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="usgsform.endDate" is-open="opened2" 
                                       max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>                    
                    </div>
                    <div class="row">                    
                        <div class="col-md-4">
                            <div>Cloud cover</div>
                            <div class="row">
                                <div class="col-md-9">
                                    <slider ng-model="usgsform.cloud" min="testOptions.min" step="testOptions.step" max="testOptions.max" value="100"></slider>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" ng-model="usgsform.cloud" readonly="readonly"/>
                                </div>
                            </div>
                        </div>                                
                        <div class="col-md-4">
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="usgsform.searchModel" btn-radio="'row'">Row/Path </label>
                                <label class="btn btn-primary" ng-model="usgsform.searchModel" btn-radio="'latlong'">Latitude/Longitude</label>
                            </div>
                        </div>
                    </div>
                    <div ng-if="usgsform.searchModel == 'latlong'" class="row top10">
                        <div class="col-md-1">
                            Latitude
                        </div>
                        <div class="col-md-2 form-group">
                            <input required="true" type="number" ng-model="usgsform.latStart" class="form-control">
                        </div>
                        <div class="col-md-2 form-group">
                            <input required="true" type="number" ng-model="usgsform.latEnd" class="form-control">
                        </div>
                        <div class="col-md-2 form-group">                        
                        </div>
                        <div class="col-md-1">
                            Longitude
                        </div>
                        <div class="col-md-2 form-group">
                            <input required="true" type="number" ng-model="usgsform.longStart" class="form-control">
                        </div>
                        <div class="col-md-2 form-group">
                            <input required="true" type="number" ng-model="usgsform.longEnd" class="form-control">
                        </div>
                    </div>
                    <div ng-if="usgsform.searchModel == 'row'" class="row top10">
                        <div class="col-md-1">
                            WRS Path
                        </div>
                        <div class="col-md-2 form-group">
                            <input required="true" type="number" ng-model="usgsform.pathStart" class="form-control">
                        </div>
                        <div class="col-md-2 form-group">
                            <input required="true" type="number" ng-model="usgsform.pathEnd" class="form-control">
                        </div>
                        <div class="col-md-2 form-group">                        
                        </div>
                        <div class="col-md-1">
                            WRS Row
                        </div>
                        <div class="col-md-2 form-group">
                            <input required="true" type="number" ng-model="usgsform.rowStart" class="form-control">
                        </div>
                        <div class="col-md-2 form-group">
                            <input required="true" type="number" ng-model="usgsform.rowEnd" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-primary" value="Search"/>
                        </div>                    
                    </div>                    
                    <div class="row top10" ng-if="isUsgsLoading">
                        <div class="col-xs-5" style=" padding: 10px; height: 300px;background-color: rgba(200,200,200,0.3);">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div ng-if="!isUsgsLoading && usgsSearchRes">
                        <div class="row top10">
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="showModel" btn-radio="'all'">Show All</label>
                                <label class="btn btn-primary" ng-model="showModel" btn-radio="'exnodes'">Show in EODN</label>
                            </div>
                        </div>
                        <div class="row top10 imageSet" >                            
                            <div class="col-md-4" ng-repeat="(key,val) in usgsSearchRes" ng-if="showModel != 'exnodes' || val.isExnode == true">
                                <div>
                                    <img src="{{val.browseURL}}" class="img-responsive cursorPointer"                                 
                                         href="{{val.browseURL}}"
                                         ng-click="showImage($event);$event.preventDefault();" />

                                    <div class="row">                            
                                        <div ng-if="val.isExnode != true && val.isExnode !=false" style=" padding: 10px; margin: 10px 0;background-color: rgba(200,200,200,0.3);">
                                            Loading Exnode Info ... 
                                        </div>
                                    </div>
                                    <div class="row">Id : {{ val.sceneID }}</div>
                                    <div ng-if="val.isExnode">
                                        <div class="row">
                                            <div class="lfloat">
                                                <button type="button" class="trigger btn btn-default">Choose files</button>
                                                <div class="popover-markup">
                                                    <div class="head hide">Select the files to download</div> 
                                                    <div class="content hide">
                                                        <div role="form" class="form">
                                                            <div class="" ng-repeat="k in val.exFileArr">
                                                                <label>
                                                                    <div class="">
                                                                        <input id type="checkbox" ng-value="k.selfRef" />
                                                                        {{k.name}}
                                                                    </div>
                                                                </label>
                                                            </div>
                                                            <button type="button"  class="usgsDownloadSelected btn btn-default">Download selected</button>
                                                        </div>
                                                    </div>                                  
                                                </div>
                                            </div>
                                            <div class="lfloat">                                
                                                <button type="button" class="trigger btn btn-default">Show Details</button>
                                                <div class="popover-markup">
                                                    <div class="head hide">Exnode Details</div> 
                                                    <div class="content hide">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr><th>Name</th><th>Url </th></tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="k in val.exFileArr"><td>{{k.name}}</td><td>{{k.selfRef}}</td></tr>
                                                            </tbody>
                                                        </table>                                                  
                                                    </div>                                  
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="val.isExnode">
                                        <button type="button" ng-click="downloadAllUsgsEx(val.exFileArr)" class="btn btn-info">Download All via EODN</button>
                                    </div>
                                    <div class="row" ng-if="val.isExnode == false">
                                        Not present in EODN-IDMS
                                    </div>
                                    <div class="row">
                                        <a href="{{val.cartURL}}" target="_blank" class="btn btn-info">Download from USGS site</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row top10" ng-if="usgsSearchRes && !isUsgsLoading ">
                        <div class="col-md-5 tree-browser">
                            <div>
                                <js-tree tree-data="scope"   
                                         tree-checkbox="{ tie_selection : false}"
                                         tree-plugins="checkbox"
                                         tree-events="check_node:usgsNodeSelected;uncheck_node:usgsNodeUnselected"
                                         tree-model="usgsSearchResAsArr"></js-tree>
                            </div>
                            <div ng-if="!usgsSearchRes && isUsgsSearched">
                                No Results
                            </div>
                        </div>
                        <div class="col-md-7 file-viewer">
                            <div>
                                <table class="table-striped table exnodeFileList">
                                    <thead>
                                        <tr>
                                            <th> Name </th>
                                            <th> Select </th>
                                            <th> Download</th>                                        
                                            <th> Image </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key,val) in usgsselectedIds">
                                            <td>{{val.text}}</td>
                                            <td><input type="checkbox" value=""/></td>
                 <td><button type="button" ng-click="downloadOne()" class="btn btn-info">Download</button></td>
                 <td><a href="{{val.browseURL}}" ng-click="showImage(val.browseURL,$event);$event.preventDefault();" class="btn btn-info">Show Image</a></td>
                 </tr>                                       
                 </tbody>
                 </table>                            
                 <button type="button" ng-click="downloadAll()" class="btn btn-info">Download Selected</button>                            
                 </div>
                 </div>
                 </div> -->  
                </form>
            </tab>
            <tab heading="USGS Shopping Cart" ng-controller="ShoppingCartController">
                <div class="row">                            
                    <div ng-if="isShoppingCartLoading" style=" padding: 10px; margin: 10px 0;background-color: rgba(200,200,200,0.3);">
                        Loading Shopping cart ... 
                    </div>
                    <div ng-if="cartErrorMsg" class="alert alert-danger">
                        {{ cartErrorMsg }}
                    </div>
                    <div ng-if="usgsShoppingNoData">
                        No Data present in shopping cart
                    </div>
                </div>
                <div class="row">
                    <form  ng-submit="loginAndPopulateCart($event)" ng-if="!hideLogin">
                        <div class="alert alert-danger" role="alert" ng-if="loginFailed">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Login Failed - Try again
                        </div>
                        <div class="col-md-4">
                            <label>
                                Username :
                                <input id="username" type="text" class="form-control" name="username"/>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                Password :
                                <input id="password" type="password" class="form-control" name="password"/>
                            </label>
                        </div>                    
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-primary" value="Login"/>
                        </div>                    
                    </form>
                    <div ng-if="hideLogin">
                        <button class="btn btn-default" ng-click="showLogin()" type="button"> Try Another </button>
                    </div>
                </div>                                
                <div class="row top10 imageSet">
                    <accordion close-others="oneAtATime">
                        <accordion-group ng-repeat="(key,idArr) in cartRes" ng-if="true || showModel != 'exnodes' || val.isExnode == true" is-open="status.open">
                            <accordion-heading>        
                                <div> 
                                    <div class="pull-left" style="padding: 6px 12px;"> Order ID : {{key}} </div>
                                    <button class="pull-right btn btn-default" ng-click="deleteOrder(key)" type="button"> Delete Order </button>
                                    <div class="clear"></div>
                                </div>
                            </accordion-heading>
                            <div class="col-md-4" ng-repeat="val in idArr" ng-if="true || showModel != 'exnodes' || val.isExnode == true">
                                <div>
                                    <img src="{{val.browseUrl}}" class="img-responsive cursorPointer"                                 
                                         href="{{val.browseUrl}}"
                                         ng-click="showImage($event);$event.preventDefault();" />
                                    <div class="row">Id : {{ val.entityId }}</div>
                                    <div ng-if="val.isExnode">
                                        <div class="row">                                    
                                            <div class="lfloat">
                                                <button type="button" class="trigger btn btn-default">Choose files</button>
                                                <div class="popover-markup">
                                                    <div class="head hide">Select the files to download</div> 
                                                    <div class="content hide">
                                                        <div role="form" class="form">
                                                            <div class="" ng-repeat="k in val.exFileArr">
                                                                <label>
                                                                    <div class="">
                                                                        <input id type="checkbox" ng-value="k.selfRef" />
                                                                        {{k.name}}
                                                                    </div>
                                                                </label>
                                                            </div>
                                                            <button type="button"  class="usgsDownloadSelected btn btn-default">Download selected</button>
                                                        </div>
                                                    </div>                                  
                                                </div>
                                            </div>
                                            <div class="lfloat">                                
                                                <button type="button" class="trigger btn btn-default">Show Details</button>
                                                <div class="popover-markup">
                                                    <div class="head hide">Exnode Details</div> 
                                                    <div class="content hide">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr><th>Name</th><th>Url </th></tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="k in val.exFileArr"><td>{{k.name}}</td><td>{{k.selfRef}}</td></tr>
                                                            </tbody>
                                                        </table>                                                  
                                                    </div>                                  
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="val.isExnode">
                                        <button type="button" ng-click="downloadAllUsgsEx(val.exFileArr)" class="btn btn-info">Download All via EODN</button>
                                    </div>
                                    <div class="row" ng-if="val.isExnode == false">
                                        Not present in EODN-IDMS
                                    </div>
                                    <div class="row">
                                        <a href="{{val.downloadUrl}}" target="_blank" class="btn btn-info">Download from USGS site</a>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>                    
                </div>
            </tab>
        </tabset>                    
    </div>
</div>
