<h2 class="lead text-center">Depot Status</h2>

<div class="table-responsive">  
  <accordion close-others="oneAtATime">
    <accordion-group ng-repeat="(name,services) in groupedServiceMap" is-open="status.open">
        <accordion-heading>        
        <div> {{name}} - On : {{ services | serviceOnCount:'status' }} / {{ services.length }}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></div>
      </accordion-heading>
      <table class="table table-hover table-condensed">
        <tr>
          <th>Status</th>
          <th>Access Point</th>
          <th>Last Seen</th>
          <th>Time to Live</th>
          <th>Institution</th>
          <th>Location</th>
          <th>Data Charts</th>
        </tr>
        <input type="text" class="form-control" ng-model="q.accessPoint" placeholder="Filter by service access point..." />
        <tbody ng-repeat="service in services | filter: {serviceType: 'ibp_server'} | filter:q:strict | orderBy:'[location.state, location.city]' | unique:'accessPoint'">
          <td>
            <button ng-show="service.status === 'ON'" class="btn btn-success disabled">ON</button>
            <button ng-show="service.status === 'Unknown'" class="btn btn-warning disabled">Unknown</button>
            <button ng-show="service.status === 'New'" class="btn btn-info disabled">New</button>
            <button ng-show="service.status === undefined || service.status === 'OFF'" class="btn btn-danger disabled">OFF</button>
          </td>
          <td><div>
		  <button ng-click="runGetVersion(service,$event)"
			  class="btn glyphicon glyphicon-refresh"></button>
		  <button ng-click="showGetVersionRes(service,$event)"
			  class="btn glyphicon">Status</button>
		  <span>{{ service.accessPoint || service.serviceType }}</span>
	  </div></td>
          <td>{{ service.ttl }}</td>
          <td>{{ service.ts / 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{service.location.institution}}</td>
          <td><button ng-click="showMap(service.id)" class="btn btn-info">{{service.location.city}} {{service.location.state}}</button></td>
          <td ng-repeat="metadata in getServiceMetadata(service)">
		  <button ng-click="showData(metadata,service.location.institution || service.accessPoint,getButtonName(metadata,service))"
                    class="btn btn-info">{{getMetadataShortET(metadata,service)}}</button></td>
        </tbody>
      </table>
    </accordion-group>
  </accordion>
</div>



<script type="text/ng-template" id="getVersionModal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
		<h4>Get Version Data</h4>
	</div>
	<div ng-if="isLoading" class="modal-body">
		Loading ...
	</div>
	
	<div ng-if="!isLoading" class="modal-body">
		<pre>{{getVersionRaw}}</pre>
	</div>
	<div class="modal-footer">
		<button ng-click="cancel()" class="btn btn-primary">Close</button>
	</div>
</script>
