<h2 class="lead text-center">Download Progress</h2>

<div style="float: right; margin-bottom: 2px">
  <button type="button" id="filter" ng-click="filterSessions()" class="btn btn-info">Filter</button>
  <button type="button" id="filter" ng-click="resetFilter()" class="btn btn-info">Clear Filter</button>
</div>
<div style="clear: both;"></div>
<div style="float:right">
  <button type="button" id="hide_all" ng-click="detailNone()" class="btn btn-info">Detail None</button>
  <button type="button" id="show_all" ng-click="detailAll()" class="btn btn-info">Detail All</button>
</div>


<div id='downloadMap'></div>
