<div style="text-align: center; font-style: italic; font-family: monospace; color: darkorange;">
  <h1>WildfireDLN</h1>
</div>

<div class="jumbotron text-center">

  <!--  <p>Monitoring powered by Periscope</p> -->
  
  <div ng-style="{'padding': '100px'}"/>
  
  <div class="container-fluid" style="max-width: 150px;">
    <div class="row">
      <div ng-controller="avController" class="col">
	<av-element type="dcount"></av-element>
      </div>
    </div>
  </div>
  
  <!--
      <div class="col-xs-2"/>
      <av-element type="dnet"></av-element>
</div>
<div ng-controller="avController" class="row" style="padding: 20px;">
  <av-element type="dused"></av-element>
  <div class="col-xs-2"/>
  <av-element type="dfree"></av-element>
</div>
</div>
-->
  
</div>
