<style type="text/css">
  #topologyMap {
    width: 100%;
    height: 800px;
    border: 1px solid lightgray;
  }

  /* Needed for hiding crollbars when pushing */
  html {
      overflow-x: hidden;
  }

  .ng-pageslide {
      background: #eee;
  }

  body.ng-pageslide-body-open::before {
      content: '.';
      display: block;
      position: absolute;
      top: 0;
      background-color: rgb(0,0,0);
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0.5;
      transition: opacity 1s;
      opacity: 0.5;
      pointer-events: all;
  }

  body.ng-pageslide-body-closed::before {
      transition: opacity 1s;
      content: '.';
      display: block;
      position: absolute;
      top: 0;
      background-color: rgb(0,0,0);
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      pointer-events: none;

    .pathdrop {
      border-radius: 10px;
    }

  }
</style>





<h1 class="page-header"><img src="images/osiris_logo.png" style="height:100px; width:100px;"/> OSiRIS Topology Monitor <small>prototype version 0.2.0</small></h1>



<div class="dropdown">
  <button onclick="topoSelect()" class="btn btn-success" style="margin-bottom: 10px; border-radius: 0px">Select Topology</button>
  <div id="topoDropdown" class="dropdown-content" ng-model="data.model">
    <input type="text" placeholder="Search." id="topoInput" onkeyup="topofilterFunction()">
    <a ng-repeat="option in data.topoOptions" href="topology/{{option.id}}">{{option.name}}</a>
  </div>
  <button ng-click="clusterByDomain()" class="btn btn-info" align="right" style="border-radius: 0px; margin-bottom: 10px">Cluster</button>
</div>

<div class="dropdown pull-right" style="padding-bottom: 10px;">
  <button onclick="pathSelect()" class="btn btn-info" ng-show="showPathButtons" style="border-radius: 0px">Show Path</button>
  <div id="pathDropdown" class="dropdown-content dropdown-menu dropdown-menu-right" ng-model="data.model">
    <input type="text" placeholder="Search" id="pathInput" onkeyup="pathfilterFunction()">
    <a ng-repeat="path in paths" ng-click="displayPath(path)">{{path}}</a>
  </div>
</div>

<div class="pull-right check-element" style="padding-right:10px; transition: all linear 0.5s;" ng-show="showNetpath">
  <button ng-click="getNetPath()" class="btn btn-warning" data-toggle="modal" data-target="#netPathModal" style="border-radius: 0px">Show Netpath</button>
</div>

<!-- Netpath Modal -->
<div class="modal fade" id="netPathModal" tabindex="-1" role="dialog" aria-labelledby="netPathModal" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 85%">
    <div class="modal-content" style="border-radius: 0px !important;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Current Netpath</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre>{{currentPathDetails | json}}<pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Graph Modal -->
<div class="modal fade" id="graphPathModal" tabindex="-1" role="dialog" aria-labelledby="graphPathModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-fs" role="document" style="width: 85%">
    <div class="modal-content modal-content-fs" style="border-radius: 0px !important;">
      <div class="modal-header">
        <h5 class="modal-title" id="graphModalLabel">{{currentGraph.src}} -> {{currentGraph.dst}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:100%">
        <iframe ng-src="{{currentGraph.ref}}" frameborder="0" style="width:100%; height:95%"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="pull-right" style="padding-right:10px">
  <button ng-click="clearPaths()" class="btn btn-danger" style=" border-radius: 0px">Clear</button>
</div>

<div pageslide ps-auto-close="false" ps-open="stats_slide" ps-click-outside="true" ps-speed="0.5" ps-size="750px" ps-side="top"  ps-click-outside="true" style="padding-bottom:20px;">
  <div style="padding:20px; overflow:auto; height: 100%" >
    <div><p><br/></p></div>
    <div class="row">
      <div class="col-md-12">
        <h2>Esmond Dashboard<a ng-click="toggleStats()" class="btn btn-info pull-right" >Close</a></h2>

        <p><b>Perfsonar Node: {{currentInstitution.name}}</b></p>
        <p><small>Showing tests on all interfaces for the last 7 days.</small></p>
        <p><small>OW Latency Measurement is from a continually updated sample of ~150 packet. For more accurate aggregation click Show.</small></p>
      </div>
    </div>

    <!-- Interface Collapsables -->
    <div ng-repeat="interface in currentInstitution.test.interfaces" ng-model="currentInstitution.test">
      <p>
        <button class="btn btn-primary" type="button" ng-click="interface.collapse = !interface.collapse" ng-init="interface.collapse = false">
          {{interface.interface_name}}
        </button>
      </p>
      <div collapse="interface.collapse">
    		<div class="well well-lg" style="border-radius:0px;">


          <div ng-show="interface.throughput.length == 0" class="text-center" style="color:#000;">
            <p>No throughput tests recorded in the last week.</p>
            <p>Please refer to
              <a href="{{currentInstitution.name}}/toolkit" style="color:lightblue; text-decoration:none">
                {{currentInstitution.name}}/tookit
              </a>
              for more detailed information</a>
            </p>
          </div>

          <!-- BEGIN TABLE -->
            <table class="table table-hover graph-slide-table" ng-show="interface.throughput.length != 0">

              <thead>
                <tr style="color:#000;!important">
                  <th>SOURCE</th>
                  <th>DESTINATION</th>
                  <th class="text-center">VIEW</th>
                  <th class="text-center">THROUGHPUT (avg)</th>
                  <th class="text-center">LOSS</th>
                  <th class="text-center">OW-LATENCY (ms)</th>
                <tr>
              </thead>

              <tbody class="graph-table" style="color:#000;!important">
                <tr highlighter="summary.latency.mean" ng-repeat="summary in interface.summary track by $index" ng-if="dst != currentInstitution" class="graph-row">
                  <td><div>{{interface.interface_name}} - <small>{{interface.interface.ipv4[0]}}</small><div></td>
                  <td><div>{{summary["input-destination"]}} - <small>{{summary.destination}}</small><div></td>
                  <td class="text-center">
                      <button
                      ng-click="buildGraphModal(currentInstitution.name, interface.interface_name, summary.destination)"
                      class="btn btn-warning"
                      data-toggle="modal"
                      data-target="#graphPathModal"
                      style="border-radius: 0px">
                      Show
                    </button>
                  </td>
                  <td class="text-center">{{(summary.throughput_val / 1000000000).toFixed(2)}} gb/s</td>
                  <td class="text-center">{{summary.packet_loss_rate.toFixed(5)}} %</td>
                  <td class="text-center latency-value"
                    id="{{summary['input-destination'] + '-' + summary.destination}}"
                  >{{summary.latency ? summary.latency.mean.toFixed(3) : "Nothing Here"}}</td>
                </tr>
              </tbody>

            </table> <!-- END TABLE -->

        </div>
    	</div>
    </div> <!-- end interface collapsables -->


    <hr style="border-top: 1px solid #fff;">
    <div class="text-center" style="height:30px"><span class="glyphicon glyphicon-menu-up text-center" style="color:#fff; font-size:20px"></span></div>
  </div>

</div>


<div pageslide ps-open="checked" ps-auto-close="false" ps-click-outside="false" ps-speed="0.5" ps-size="700px" >
  <div style="padding:30px; overflow:auto; height: 100%" id="slide-right">
    <div><p><br/></p></div>
    <h2>Resource Details <a ng-click="toggle()" class="btn btn-info pull-right" >Close</a></h2>
    <hr>
    <json-formatter json="cobj.objRef" open="1"></json-formatter>
  </div>
</div>

<div id="topologyMap">
  <topology-map></topology-map>

  <!--<img id="mapImage" style="visibility:hidden;" src="images/us.gif"/>-->
</div>
