<h2 class="lead text-center">EODN/IDMS Exnode Browser</h2>
<div class="table-responsive" style="max-width: 1024px; margin-left: auto; margin-right: auto";>
    <div ng-controller="ExnodeController">
        <tabset>
            <tab heading="Exnode Browser">
                <div class="row">
                    <div class="col-md-6 tree-browser">
                        <!-- <js-tree tree-events="select_node:nodeSelected" tree-data="json" tree-src="/views/filetree.json"  tree-plugins="checkbox"></js-tree> -->
                        <js-tree tree-events="select_node:nodeSelected"
                                 tree-ajax="/api/fileTree"></js-tree>
                    </div>
                    <div class="col-md-6 file-viewer">
                        <pre>
                            <code>{{fileViewer}}</code>
                        </pre>
                        <span ng-if='showDownload'>
                            <button ng-click="downloadFile()" class="btn btn-info">Download</button>
                        </span>
                    </div>
                </div>
            </tab>
            <tab heading="Exnode Search">
                <form class="form-horizontal" id="searchForm" ng-submit="searchExnodes()">
                    <div class="form-group"  ng-repeat="field in fieldArr">
                        <div class="col-sm-1">
                            <center>
                                <button ng-click="removeField(field.id)"
                                        type="button" class="btn btn-default">X</button>
                            </center>
                        </div>
                        <div class="col-sm-5">
                            <select class="form-control searchField" ng-model="selected">
                                <option ng-repeat="fld in exFields" ng-value="field.name=fld.name"
                                        value="fld.name">
                                    {{fld.name}}
                                </option>                              
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="searchValue"
                                   ng-value="field.value"
                                   placeholder="Enter a search query">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-2">
                            <button ng-click="addField()"
                                    type="button" class="btn btn-default">Add Field</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default">Search</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-6 tree-browser">
                        <div ng-if="searchRes">
                            <div class="row" ng-repeat="rows in searchRes">
                                <a id="" ng-click="showInfo()" class="jstree-anchor">
                                    <i role="presentation" 
                                       class="searchfile jstree-icon jstree-themeicon jstree-themeicon-custom"></i>
                                    {{rows.name}}</a>
                            </div>
                        </div>
                        <div ng-if="!searchRes && isSearched">
                            No Results
                        </div>
                    </div>
                    <div class="col-md-6 file-viewer">
                        <pre>
                            <code>{{fileInfo}}</code>
                        </pre>
                    </div>

                </div>
            </tab>     
            <tab heading="DLT Search">
                  <form sf-schema="schema" sf-form="form" sf-model="model"></form>
                <slider ng-model="sliders.sliderValue" min="testOptions.min" step="testOptions.step" max="testOptions.max" value="testOptions.value"></slider>
                <!-- <slider slider-id="testOptions.sliderId"
	     ng-model="model.first"
	     value="value.first"
	     min="testOptions.min"
	     max="testOptions.max"
	     step="testOptions.step"
	     range="testOptions.range"
	     precision="testOptions.precision"
	     reversed="{{ testOptions.reversed }}"
	     orientation="{{ testOptions.orientation }}"
	     handle="{{ testOptions.handle }}"
	     enabled="{{ testOptions.enabled }}"
	     ng-disabled="{{ testOptions.ngDisabled }}"
	     naturalarrowkeys="{{ testOptions.naturalarrowkeys }}"> -->
                </slider>
            </tab>              
        </tabset>                    
    </div>
</div>
