<h2 class="lead text-center">Download Progress</h2>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <tr>
      <th style="width:30%">Name</th>
      <th style="width:20%">Size (MB)</th>
      <th style="width:10%">Connections</th>
      <th style="width:10%">Speed</th>
      <th style="width:10%">% Complete</th>
    </tr>
    <tbody ng-repeat="(key, entry) in downloads">
      <td> {{entry.filename}} </td>
      <td> {{(entry.size/1e6).toFixed(1)}} </td>
      <td> {{entry.connections}} </td>
      <td> {{entry.speed}} </td>
      <td> {{entry.percent}} </td>
    </tbody>
  </table>
</div>

<div id='downloadMap'></div>
