<h2 class="lead text-center">Downloads</h2>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <tr>
      <th style="width:10%"><a href="/downloads/map?{{downloadsLink}}">Map <br>Selected</a></th>
      <th style="width:50%">Name</th>
      <th style="width:30%">Size (MB)</th>
      <th style="width:10%">Connections</th>
    </tr>
    <tbody ng-repeat="entry in downloads">
      <td> <input type="checkbox" value="{{entry.sessionId}}" ng-click="toggleDownloadSelection(entry.sessionId)" />
      <td> <a ng-href="downloads/map?sessionIds={{entry.sessionId}}">{{entry.filename}} </a> </td>
      <td> {{(entry.size/1e6).toFixed(1)}} </td>
      <td> {{entry.connections}} </td>
    </tbody>
  </table>
</div>
