<h2 class="lead text-center">EODN/IDMS Exnode Browser</h2>
<div class="table-responsive" style="max-width: 1024px; margin-left: auto; margin-right: auto";>
  <div ng-controller="FilesController">
    <div class="row" ng-style="{'border':'solid 3px darkblue', 'border-radius': '15px'}">
      <div class="col-md-12">
       <form sf-schema="schema" sf-form="form" sf-model="model"></form>
      </div>
    </div>
    <div ng-style="{'padding': '20px'}"/>
    <div class="row" ng-style="{'border':'solid 3px darkblue', 'border-radius': '15px', 'padding': '10px'}">
      <div class="col-md-6 tree-browser" ng-style="{'border-right': 'solid 3px black'}">
        <js-tree tree-events="select_node:nodeSelected"
                 tree-ajax="/api/fileTree"></js-tree>
      </div>
      <div class="col-md-6 file-viewer">
        <pre>
          <code>{{fileViewer}}</code>
        </pre> 
        <span ng-if='showDownload'>
          <button ng-click="downloadFile()" class="btn btn-info">Download</button>
        </span>
      </div>
    </div>
  </div>
</div>
