<h2 class="lead text-center">DLT</h2>
<div class="table-responsive">
    <div ng-controller="FilesController">
        <div class="row">
            <div class="col-md-4 tree-browser">
                <!-- <js-tree tree-events="select_node:nodeSelected" tree-data="json" tree-src="/views/filetree.json"></js-tree> -->
                <js-tree 
                         tree-ajax="/api/fileTree" tree-plugins="checkbox"></js-tree>
            </div>
            <div class="col-md-8 file-viewer">
                <pre>
                  <code>{{fileViewer}}</code>
                </pre>
            </div>
        </div>
    </div>
</div>
