<h2 class="lead text-center">DLT</h2>
<div class="table-responsive">
  <div ng-controller="FilesController">
    <div class="row">
      <div class="col-md-12">
       <form sf-schema="schema" sf-form="form" sf-model="model"></form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 tree-browser">
        <!-- <js-tree tree-events="select_node:nodeSelected" tree-data="json" tree-src="/views/filetree.json"  tree-plugins="checkbox"></js-tree> -->
        <js-tree tree-events="select_node:nodeSelected"
                 tree-ajax="/api/fileTree"></js-tree>
      </div>
      <div class="col-md-6 file-viewer">
        <pre>
          <code>{{fileViewer}}</code>
        </pre> 
        <span ng-if='showDownload'>
          <button ng-click="downloadFile()" class="btn btn-info">Download</button>
        </span>
      </div>
    </div>
  </div>
</div>
