<div class="jumbotron text-center">
  <h3>Earth Observatory Depot Network</h3>

  <p>Powered by GENI-IDMS and Periscope</p>
  
  <div ng-style="{'padding': '20px'}"/>
  
  <div class="container-fluid" style="max-width: 800px;">
    <div ng-controller="avController" class="row" style="padding: 20px;">
      <av-element text="Depot Count"></av-element>
      <div class="col-xs-2"/>
      <av-element text="Network Usage"></av-element>
    </div>
    <div class="row" style="padding: 20px;">
      <av-element text="Total Storage Used"></av-element>
      <div class="col-xs-2"/>
      <av-element text="Total Storage Free"></av-element>
    </div>
  </div>
</div>

