<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
  <base href="/">

  <title>Periscope</title>

  <!-- CSS -->
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="libs/animate.css/animate.min.css">
  <link rel="stylesheet" href="libs/jstree/dist/themes/default/style.min.css">
  <link rel="stylesheet" href="libs/nvd3/nv.d3.css">
  <link rel="stylesheet" href="libs/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css"/>
   <!-- custom styles -->
  <link rel="stylesheet" href="css/loading-bar.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/map.css">

  <!-- Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body ng-app="periApp">
  <!-- Header and Nav Bar -->
  <nav class="navbar navbar-fixed-top lead" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle btn btn-default btn-lg pull-right" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="glyphicon glyphicon-list"></span>
        </button>
        <a class="navbar-brand" href="/">Periscope</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a class="header" href="/status">Services</a></li>
          <li><a class="header" href="/map">Map</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">          
          <li ng-if="!loggedIn"><a class="header" ng-click="openLogin()">Login</a></li>
          <li ng-if="loggedIn" class="dropdown">
            <a class="dropdown-toggle header" data-toggle="dropdown" href="#">
              {{userData.email}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ng-click="userLogout()">Logout</a></li>
            </ul>
          </li>          
        </ul>
      </div>

    </div>
  </nav>

  <!-- Main Page Container -->
  <div class="container-fluid">
    <!-- Angular Views Loaded Here -->
    <div ng-view class="mainview-animation"></div>
  </div>

  <div class="container-fluid">
    <hr />
    <ul class="footer">
      <li class="left"><a class="footer" href="http://data-logistics.org/"><p>DLT/Periscope</p></a><a class="footer" href="http://crest.iu.edu"><p class="left">CREST @ IU-Bloomington</p></a></li>
      <li class="right"><a class="footer" href="http://www.utah.edu/"><p>University of Utah</p></a><a class="footer" href="http://es.net"><p class="right">ESnet</p></a></li>
    </ul>
  </div>

  <!-- JS Libs -->
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script src="libs/socket.io-client/socket.io.js"></script>
  <script src="libs/jquery/dist/jquery.min.js"></script>
  <script src="libs/angular/angular.min.js"></script>
  <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="libs/angular-cookies/angular-cookies.min.js"></script>
  <script src="libs/angular-loading-bar/src/loading-bar.js"></script>
  <script src="libs/angular-route/angular-route.min.js"></script>
  <script src="libs/angular-animate/angular-animate.min.js"></script>
  <script src="libs/angular-ui-utils/ui-utils.js"></script>
  <script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="libs/d3/d3.js"></script>
  <script src="libs/d3-tip/index.js"></script>
  <script src="libs/nvd3/nv.d3.js"></script>
  <script src="libs/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
  <script src="libs/tv4/tv4.js"></script>
  <script src="libs/objectpath/lib/ObjectPath.js"></script>
  <script src="libs/angular-schema-form/dist/schema-form.min.js"></script>
  <script src="libs/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
  <script src="libs/jstree/dist/jstree.min.js"></script>
  <script src="libs/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
  <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="libs/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script src="libs/angular-bootstrap-slider/slider.js"></script>
  <script src="libs/topojson/topojson.js"></script>  

  <!-- Custom Angular -->
  <script src="js/common/pubsub.js"></script>  
  <script src="js/common/jsTree.directive.js"></script>  
  <script src="js/common/directedGraph.js"></script>
  <script src="js/common/directives.js"></script>
  <script src="js/auth/LoginModal.js"></script>
  <script src="js/auth/authModule.js"></script>
  <script src="js/unis/SocketService.js"></script>
  <script src="js/unis/UnisService.js"></script>
  <script src="js/unis/UnisModule.js"></script>
  <script src="js/main/MainService.js"></script>
  <script src="js/main/MainController.js"></script>
  <script src="js/main/MainModule.js"></script>
  <script src="js/depot/DepotService.js"></script>
  <script src="js/depot/DepotNewWinGraphController.js"></script>
  <script src="js/depot/DepotController.js"></script>
  <script src="js/depot/DepotModule.js"></script>
  <script src="js/exnode/ExnodeSchema.js"></script>
  <script src="js/exnode/ExnodeService.js"></script>
  <script src="js/exnode/DltFormController.js"></script>
  <script src="js/exnode/ExnodeController.js"></script>
  <script src="js/exnode/ExnodeModule.js"></script>
  <script src="js/map/depotMap.js"></script>
  <script src="js/map/DownloadMapController.js"></script>
  <script src="js/map/MapController.js"></script>
  <script src="js/map/MapModule.js"></script>  
  <script src="js/app.js"></script>
</body>
</html>
