<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
  <base href="/">

  <title>EODN/IDMS Popup</title>

  <!-- custom styles -->
  <link rel="stylesheet" href="css/loading-bar.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body ng-app="periApp" style="padding:0px;">
  <!-- Main Page Container -->
  <div class="container-fluid">
    <!-- Angular Views Loaded Here -->
    <div ng-view class="mainview-animation"></div>
  </div>

  <div class="container-fluid">
<!--
    <hr />
    <ul class="footer">
      <li class="left"><a class="footer" href="http://data-logistics.org/?q=EODN"><p>EODN</p></a><br /><a class="footer" href="http://crest.iu.edu"><p class="left">CREST @ IU-Bloomington</p></a></li>
      <li class="right"><a class="footer" href="http://www.utk.edu/"><p>UT - Knoxville</p></a><br /><a class="footer" href="http://www.vanderbilt.edu/"><p class="right">Vanderbilt University</p></a></li>
    </ul>
-->
  </div>

  <!-- JS Libs -->
  <script src="libs/socket.io-client/dist/socket.io.js"></script>
  <script src="bundle.js"></script>

  <!-- Custom Angular -->
  <script src="js/common/pubsub.js"></script>
  <script src="js/common/eventCharts.js"></script>
  <script src="js/common/jsTree.directive.js"></script>  
  <script src="js/common/directedGraph.js"></script>
  <script src="js/common/directives.js"></script>
  <script src="js/auth/LoginModal.js"></script> 
  <script src="js/auth/authModule.js"></script>
  <script src="js/unis/SocketService.js"></script>
  <script src="js/unis/UnisService.js"></script>
  <script src="js/unis/UnisModule.js"></script>
  <script src="js/main/MainService.js"></script>
  <script src="js/main/MainController.js"></script>
  <script src="js/main/MainModule.js"></script>
  <script src="js/service/ServiceService.js"></script>
  <script src="js/service/ServiceNewWinGraphController.js"></script>
  <script src="js/service/ServiceController.js"></script>
  <script src="js/service/ServiceModule.js"></script>
  <script src="js/exnode/ExnodeSchema.js"></script>
  <script src="js/exnode/ExnodeService.js"></script>
  <script src="js/exnode/DltFormController.js"></script>
  <script src="js/exnode/ExnodeController.js"></script>
  <script src="js/exnode/ExnodeModule.js"></script>
  <script src="js/map/depotMap.js"></script>
  <script src="js/map/TopologyTools.js"></script>
  <script src="js/map/ExnodeMapController.js"></script>
  <script src="js/map/DownloadMapController.js"></script>
  <script src="js/map/MapController.js"></script>
  <script src="js/map/TopologyMapController.js"></script>
  <script src="js/map/MapModule.js"></script>  
  <script src="js/service/popupApp.js"></script>
  
</body>
</html>
